$neutral-1: #0f1013;
$neutral-2: #141517;
$neutral-3: #191a1d;
$neutral-10: #babdc2;
$neutral-11: #e2e3e6;
$neutral-12: #fafafa;

$blue-3: #0e1d31;
$blue-8: #0954a5;
$blue-9: #1053d0;
$blue-10: #3878f5;
$blue-11: #69a5ff;
$blue-12: #e3f3ff;
$blue-logo: #11228c;

$green-3: #062923;
$green-8: #0c6d62;
$green-9: #00876f;
$green-10: #00a091;
$green-11: #0ac5b3;
$green-12: #e1faf4;

$yellow-3: #383301;
$yellow-8: #7f7500;
$yellow-9: #d3c00e;
$yellow-10: #ffe600;
$yellow-11: #d7cc5a;
$yellow-12: #fef3dd;
$yellow-logo-lighter: #fdf173;

$red-3: #3a1719;
$red-8: #aa2429;
$red-9: #dc343b;
$red-10: #e25056;
$red-11: #fd8277;
$red-12: #feecee;

$black: #000000;
$white: #ffffff;

$gradient-black: linear-gradient(180deg, #101113 0%, #080809 100%);
$gradient-yellow: linear-gradient(180deg, #fdf173 0%, #fbeb40 100%);

$text-title-dark-mode: rgba(255, 255, 255, 100%);
$text-primary-dark-mode: rgba(255, 255, 255, 85%);
$text-secondary-dark-mode: rgba(255, 255, 255, 65%);
$text-tertiary-dark-mode: rgba(255, 255, 255, 45%);

$text-title-light-mode: rgba(0, 0, 0, 100%);
$text-primary-light-mode: rgba(0, 0, 0, 85%);
$text-secondary-light-mode: rgba(0, 0, 0, 65%);
$text-tertiary-light-mode: rgba(0, 0, 0, 45%);

$disabled-dark-mode: #656665;
$disabled-light-mode: #bfbfbf;
