@use 'shared/src/abstracts/' as *;

main {
  display: grid;

  .container {
    width: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--dark {
      background-image: $gradient-black;
    }

    &--light {
      background-image: $gradient-yellow;
    }

    .logo {
      height: 180px;
    }

    .search-bar {
      margin-bottom: 2rem;
      width: 100%;
      height: 220px;
      text-align: -webkit-center;
    }
  }
}
