@use 'shared/src/abstracts/' as *;

@font-face {
  font-family: 'Mona Sans';
  src: url('/MonaSans.woff2');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  font-family: 'Nunito Sans', 'Roboto', sans-serif;
}

.dark {
  background-color: $neutral-2;
}

.light {
  background-color: $neutral-12;
}

body {
  margin: 0;
}
